apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: zapp
spec:
  serviceName: elasticsearch
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      initContainers:
      - name: set-vm-max-map-count
        image: busybox
        command: ["sysctl", "-w", "vm.max_map_count=262144"]
        securityContext:
          privileged: true
      containers:
      - name: elasticsearch
        image: elasticsearch:8.12.0
        env:
          - name: discovery.type
            value: single-node
          - name: xpack.security.enabled
            value: "false"
          - name: xpack.security.http.ssl.enabled
            value: "false"
          - name: ES_JAVA_OPTS
            valueFrom:
              configMapKeyRef:
                name: es-config
                key: ES_JAVA_OPTS
        volumeMounts:
          - name: es-storage
            mountPath: /usr/share/elasticsearch/data
        livenessProbe:
          httpGet:
            path: /
            port: 9200
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
        - name: es-storage
          persistentVolumeClaim:
            claimName: es-pvc