apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: zapp
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'app'
        static_configs:
          - targets: ['api-service:8080']