apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: zapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        args: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]
        envFrom:
          - secretRef:
              name: redis-secret
        ports:
          - containerPort: 6379
        volumeMounts:
          - name: redis-data
            mountPath: /data
        livenessProbe:
          exec:
            command: ["redis-cli", "-a", "$(REDIS_PASSWORD)", "ping"]
          initialDelaySeconds: 10
          periodSeconds: 5
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-pvc