apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: zapp
  labels:
    app: kafka
spec:
  ports:
    - port: 9092
      name: plaintext
    - port: 9093
      name: controller
  clusterIP: None
  selector:
    app: kafka