apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
  namespace: zapp
spec:
  serviceName: minio
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        envFrom:
          - secretRef:
              name: minio-secret
        args: ["server", "/data", "--console-address", ":9001"]
        ports:
          - containerPort: 9000
          - containerPort: 9001
        volumeMounts:
          - name: minio-storage
            mountPath: /data
        livenessProbe:
          httpGet:
            path: /minio/health/live
            port: 9000
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
        - name: minio-storage
          persistentVolumeClaim:
            claimName: minio-pvc