apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: zapp
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        envFrom:
          - secretRef:
              name: db-secret
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/pg_data
        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql/data
        livenessProbe:
          exec:
            command: ["pg_isready", "-U", "postgres_user", "-d", "postgres_db"]
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi